/* use #f0f0f0 and #1f1f1f and #292929*/
/* font-family: 'Source Code Pro', monospace; */

* {
    font-family: 'Source Code Pro', monospace;
    background-color: #292929;
    color: #f0f0f0;
    padding: 20px 20px 0;
}

#profile {

}

body {
    display: flex;
    justify-content: space-between;
}

#profile-pic {
    /*position: fixed;*/
    /*top: 20px;*/
    /*right: 20px;*/
    border: thick solid white;
    border-radius: 25px;
}

a {
    padding: 0;
    font-size: 32px;
}